# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

app.py.test

# Flask secret keys and environment settings
.env

# Migrations
# migrations/

# Docker
*.log
docker-compose.override.yml
